@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: impact;
  overflow-y: hidden;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

main {
  position: absolute;
  z-index: 0;
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-x: hidden;
}

.blockHorizontal {
  display: flex;
  flex-direction: row;
  width: 220vw;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
}

.slide {
  color: white;
  width: 220vw;
  height: 100vh;
  font-size: 100px;
  position: relative;
}

.one {
  width: 400px;
  height: 250px;
  position: absolute;
  top: 67%;
  left: 5%;
  -webkit-animation: circle1 40s linear infinite;
          animation: circle1 40s linear infinite;
}

.two {
  width: 300px;
  height: auto;
  position: absolute;
  top: 15%;
  left: 25%;
  -webkit-animation: circle2 30s linear infinite;
          animation: circle2 30s linear infinite;
}

.three {
  width: 500px;
  height: auto;
  position: absolute;
  top: 40%;
  left: 45%;
  -webkit-animation: circle3 20s linear infinite;
          animation: circle3 20s linear infinite;
  border-radius: 15%;
}

.four {
  width: 550px;
  height: auto;
  position: absolute;
  top: 60%;
  left: 90%;
  -webkit-animation: circle4 20s linear infinite;
          animation: circle4 20s linear infinite;
}

.five {
  position: absolute;
  top: 40%;
  left: 20%;
  -webkit-animation: circle5 20s linear infinite;
          animation: circle5 20s linear infinite;
}

@-webkit-keyframes circle1 {
  from {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}

@keyframes circle1 {
  from {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}
@-webkit-keyframes circle2 {
  from {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}
@keyframes circle2 {
  from {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}
@-webkit-keyframes circle3 {
  from {
    transform: rotate(0deg) translate(30px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translate(30px) rotate(360deg);
  }
}
@keyframes circle3 {
  from {
    transform: rotate(0deg) translate(30px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translate(30px) rotate(360deg);
  }
}
@-webkit-keyframes circle4 {
  from {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}
@keyframes circle4 {
  from {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}
@-webkit-keyframes circle5 {
  from {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}
@keyframes circle5 {
  from {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  width: 75px;
  height: 75px;
  position: fixed;
  top: 45%;
  left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /*car rowtransfomer en column donc jsuitfy content modifie horizontalité*/
  align-items: center;
  cursor: pointer;
  z-index: 8;
}
.menu span {
  margin: 2px;
  height: 2px;
  background: grey;
  width: 65%;
  transition: 0.5s;
}

.menu.active {
  justify-content: center;
}
.menu.active span:nth-of-type(1) {
  background: white;
  transform: rotate(45deg);
}
.menu.active span:nth-of-type(2) {
  background: transparent;
}
.menu.active span:nth-of-type(3) {
  background: white;
  transform: rotate(-45deg);
  margin-top: -10px;
}

.navbarMenu {
  transform: translateX(-100%);
  transition: 1s;
  position: fixed;
  top: 0;
  left: 0;
  background: darkgrey;
  width: 20%;
  height: 100%;
}
.navbarMenu .menuListing {
  text-align: right;
  font-size: 75px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navbarMenu .menuListing li a {
  color: black;
  text-decoration: none;
  height: 50px;
  display: block;
  letter-spacing: 2px;
  padding: 0 2%;
  line-height: 50px;
}
.navbarMenu .menuListing li a:hover {
  text-decoration: underline;
}

.navbarMenu.active {
  transform: translateX(0);
  transition: 1s;
}