
@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('ClashDisplay-Semibold.woff2') format('woff2'),
         url('ClashDisplay-Semibold.woff') format('woff'),
         url('ClashDisplay-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('ClashDisplay-Medium.woff2') format('woff2'),
         url('ClashDisplay-Medium.woff') format('woff'),
         url('ClashDisplay-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
}
html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    overflow: hidden;
    position:relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
.logo{
    z-index: 300;
    width: 150px;
    height: 120px;
}
canvas {
    bottom: 0;
    box-shadow: 0 0 0 1px #e5e5e5;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -11;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-evenly;
    height: 40%;
    width: 10%;
    color:white;
}

.nav-item {
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    transition: text-decoration 0.5s ease;
    font-family: 'ClashDisplay-Medium';
    font-size: 20px;
}
.souligne {
    text-decoration: underline;
}

.content-container {
    display: flex;
    height: 1040px;
    width: 1040px;
}

.content-item {
    margin-top: 30px;
    width: 0;
    height: 0;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out 0.5s;
    opacity: 0;
    border: 1px solid white;
}
.no-show{
    display: none;
}
.show-1 {
    width: 300px;
    height: 200px;
    opacity: 1;
    display: block;
}
.show-2 {
    width: 300px;
    height: 200px;
    opacity: 1;
    display: flex;
}
.show {
    width: 300px;
    height: 200px;
    opacity: 1;
    display: block;
}

/*GALLERY*/

.img-in {
    transition: all 0.9s ease-in-out;
    opacity: 0;
    max-width: 300px;
    min-width: 300px;
    height: 300px;
}
.img-vi{
    max-width: 300px;
    min-width: 300px;
    height: 150px;
    transition: height 0.9s ease-in-out;
}
.no-ap{
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.9s ease-in-out;
}
.ap{
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 0.9s ease-in-out;
}
.page{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 80;
    transition: height 0.5s ease-in-out, transform 0.5s ease-in-out;
    border: 1px solid white;
    background-color: blueviolet;
    opacity: 0;
}
.hr-vertical{
    width: 0px;
    height: 99.5%;
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}
.img-projet{
    width: 75px;
    height: 75px;
}
.show-page {
    width: 900px;
    height: 500px;
    opacity: 1;
}


.c-i-in{
    transition: height 1s ease-in-out, transform 1s ease-in-out;
    border: 1px solid white;
}
.c-i-vi{
    height: 300px;
    transition: height 1s ease-in-out, transform 1s ease-in-out;
}
#content-item-3{
    position: absolute;
    top: -7%;
    left: 15%;
    transition: height 1s ease-in-out, transform 1s ease-in-out;
}
.c-i-3{
    height: 600px;
    width: 800px;
    transition: height 1s ease-in-out, width 5s ease-in-out, transform 1s ease-in-out;
}

.hr-in{
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-in-out;
  
}
.hr-vi{
    color: #e5e5e5;
    width: 100%;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-in-out;
  
}

.no-barre{
    opacity: 0;
    height: 105%;
    border-left: 1px solid #e5e5e5;
}
.barre{
    opacity: 1;
    height: 200%;
    border-left: 1px solid #e5e5e5;
}
.fils{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}
.petit-fils{
    width: 50%;
    height: 100%;
}
#contact{
    transition: heihgt 1s ease;
    transition: margin 1s ease;
}
.cont-in{
    opacity: 0;
    visibility: hidden;
    transition-property: opacity;
    transition-duration: 1.5s, 0.6s;
    transition-timing-function: ease-in-out;
    
}
.cont-vi{
    display: flex;
    flex-direction: column;
    justify-items: center;
    opacity: 1;
    visibility: visible;
    transition-property: opacity;
    transition-duration: 1.5s, 0.6s;
    transition-timing-function: ease-in-out;
    
}

.no{
    color: #e5e5e5;
    font-family: 'ClashDisplay-Semibold';
    cursor: pointer;
    margin-top: 7px;
    margin-left: 4px;
}
a{
    text-decoration: none;
}
.i{
    width: 50px;
    height: 50px;
}
.email-logo{
    font-size: 30px;
}
.email-center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#reseau{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#nom{
    width:98%;
    height: 15%;
    border : 0px;
    background-color: transparent;
    margin-left: 1%;
    margin-top: -2px;
    margin-bottom: -2px;
    color: #e5e5e5;

}
#email{
    width:98%;
    height: 15%;
    border : 0px;
    background-color: transparent;
    margin-left: 1%;
    margin-top: -2px;
    margin-bottom: -2px;
    color: #e5e5e5;
}
#content{
    width:98%;
    height: 30%;
    border : 0px;
    background-color: transparent;
    margin-left: 1%;
    margin-top: -2px;
    margin-bottom: -2px;
    color: #e5e5e5;
}
#submit{
    width:98%;
    height: 15%;
    border : 0px;
    background-color: transparent;
    color: #e5e5e5;
    margin-left: 1%;
    cursor: pointer;
}
textarea:focus, input:focus{
    outline: none;
}
.hr-contact{
    color: #e5e5e5;
    width: 99%;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-in-out;
}
#coordonne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.i2{
    top: 5px;
    width: 25px;
    height: 25px;
}
input::placeholder, textarea::placeholder, #submit, input, textarea{
    font-family: 'ClashDisplay-Semibold';
}
.titrejs{
    margin-top: 20%;
}
